################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs
/Resqd/Resqd/obj
/Resqd/Resqd/bin/Debug/net6.0
/Resqd/.vs
